.search-form {
  padding: 25px;
  min-height: 127px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  &__form {
    display: grid;
    grid-template-columns: 250px 100px;
    grid-template-rows: 21px 40px;
    grid-auto-rows: 40px;
    row-gap: 20px;
    column-gap: 25px;
  }

  &__title {
    grid-row: 1/2;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  &__input {
    grid-row: 2/3;
    padding: 10px;
    width: 250px;
    height: 38px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    border: none;
  }

  &__btn {
    grid-row: 2/3;
  }

  &__error {
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #9f0013;
  }

  &__result {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 250px 100px;
    grid-template-rows: 40px;
    row-gap: 20px;
    column-gap: 25px;
    align-items: center;

    &_found {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #03710e;
    }
  }

  &__results {
    margin-top: 25px;

    &-form {
      display: grid;
      grid-template-columns: 250px 100px;
      grid-template-rows: 40px;
      column-gap: 25px;
      align-items: center;
    }

    &-select {
      padding: 10px;
      display: block;
      width: 250px;
      border: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      outline: none;
    }
    &-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
